.tab {
    border-radius: 1em 1em 0 0;
}
.active-tab {
    position: relative;
    bottom: -1px;
    z-index: 999;
}
.dual-input > textarea {
    border-top-left-radius: 0;
}

.dual-input .input {
    border: 1px solid #aaa;
    border-radius: 0.5em;
    border-top-left-radius: 0;
}
