html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    font-family: 'Poppins', sans-serif;
}

.background-image{
  background-image: url("/img/mountain-background.jpg");
}

a, button {
    font-weight: bold;
}

textarea {
    padding: 0.5em;
}
