*{
  font-family: 'Poppins', sans-serif;
}

.background-image{
  background-image: url("/img/mountain-background.jpg");
}

.background-overlay{
  background-color: rgba(18, 192, 191, 0.67);
}

.purple-background{
  background-color: rgba(165, 84, 236, 0.67);
}

.very-light-purple-background{
  background-color: rgba(165, 84, 236, 0.2);
}

.solid-green-background{
    background-color: rgba(18, 192, 191, 1);
}


.solid-purple-background{
  background-color: rgba(165, 84, 236, 1);
}

.purple-font{
  color: rgba(165, 84, 236, 1);
}

.header-background-colour{
  background-color: rgba(18, 192, 191, 1);
}

.grey-font{
  color: #4f4f4f;
}

.grey-background{
  background-color:#F2F2F2;
}
.margin-0-auto{
  margin: 0 auto;
}
.finish-page-image{
  background-image: url("/img/paper-plane-white.png");
}
.top-20-margin-auto{
margin: 0 auto;
top: 20%;
}

.right-side-radius{

}

.left-side-radius{
  border-radius:3rem 0 0 3rem  ;
}

ol {
  list-style: none;
  padding-left: 0;
}
li {
  counter-increment: item;
  margin-bottom: 5px;
}
li:before, .li {
  content: counter(item);
  color: #15C26B;
  text-align: center;
  display: inline-block;
  font-size: 1.5rem;
}

label:hover {
	background-color: #E0E0E0;
}

input:checked + label{
  background-color: rgba(165, 84, 236, 0.7);
}

.header-background-colour{
  background-color: rgba(18, 192, 191, 1);
}

.grey-font{
  color: #4f4f4f;
}

.top-20-margin-auto{
margin: 0 auto;
top: 20%;
  }

.close:hover,
.close:focus {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

.colourHeader{
  text-align: center;
  color: black;
}
.switcher{
  text-align: center;
}

/* styling the colours of the colour palette*/
.yellowRed, .blueGreen, .turquoisePurple, .redPink, .pinkBlue {
  display: inline-flex;
}

.yellow {
  background-color: #FFBC0A;
}

.red {
  background-color: #EC0868;
}
.darkBlue {
  background-color: #2E294E;
}
.darkGreen {
  background-color: #04A777;
}

.turquoise {
  background-color: rgba(18, 192, 191, 0.67);
}

.purple {
  background-color: rgba(165, 84, 236, 1);
}
.orangeYellow{
  background-color: #EA5015;
}

.orangePink{
  background-color: #F70062;
}

.pink{
  background-color: #F73F8E;
}
.blue{
  background-color: #0062A4;
}
.error {
    color: #e8624c;
    border: 2px solid #e8624c;
}
.success {
    color: #3fbf49;
    border: 2px solid #3fbf49;
}

.speech-triangle:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 80px;
  right: auto;
  top: auto;
	bottom: 80px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}

.speech-box {
    border: 20px solid #666;
}
