{{> header }}

<section>
  <form>
  <ol>
    <li> What are some things you like? (including hobbies and interests)?
      <input type="text" name="hobbies" aria-label="your hobbies" value='Please write your answer here'></input>
    </li>
    <li> Tell us what you don't like!
      <input type="text" name="dislikes" aria-label="your dislikes" value='Please write your answer here'></input>
    </li>
    <button type="button" name="ideas">Click for ideas</button>
    <li> What are some of your strengths?
      <input type="text" name="strengths" aria-label="your strengths" value='Please write your answer here'></input>
    </li>
    <li> What would you like to be better at?
      <input type="text" name="improvement" aria-label="your areas of improvement" value='Please write your answer here'></input>
    </li>
    <button type="button" name="ideas">Click for ideas</button>
    <li> What makes you feel uncomfortable or anxious?
      <input type="text" name="uncomfortable" aria-label="What makes you feel uncomfortable or anxious" value='Please write your answer here'></input>
    </li>
    <li> What helps you feel safe and calm?
      <input type="text" name="safe" aria-label="What helps you feel safe and calm" value='Please write your answer here'></input>
    </li>
    <button type="button" name="ideas">Click for ideas</button>
    <li> Tell us about your aspirations and dreams
      <input type="text" name="dreams" aria-label="aspirations and dreams" value='Please write your answer here'></input>
    </li>
  </ol>
  <a href='/background'><button type="button" name="butto" value="OK">OK</button></a>
</form>
</section>

