{{> header }}
{{> progress_bar }}

<section class="mb6">
{{> messages }}
  <form class="margin-0-auto w-90 w-60-ns w-80-m mw7" action="/background" method="post">
  <ol class="pa0">
    <li class="f5 black-60 db mb2 tracked pt3 pb3"><span class='li mr2 w2'>&rarr;</span>
        <label for="background">Are there any significant life events that you feel may have contributed to your current difficulties? (eg bereavement, family break ups, trauma, bullying, criminal activity)</label>

      <br>
      <textarea class="mt3 w-100 vh-5 ba b--black-30 br3 h4" name="background" placeholder="Please write your answer here" id="background">{{data.background}}</textarea>
    </li>
  </ol>
   {{> formnav}}
</form>
</section>

{{>navbar}}
