{{> header }}
{{> progress_bar }}
{{> messages }}

<section>
  <form class="mb5" action="/background" method="post">
  <ol>
    <li>
      Are there any significant life events that you feel may have contributed to your current difficulties? (eg bereavement, family break ups, trauma, bullying, criminal activity)
      <textarea name="background" placeholder="Please write your answer here" aria-label="significant life events that you feel may have contributed to your current difficulties">{{background}}</textarea>
    </li>
  </ol>
  <button type="submit">OK</button>
</form>
</section>

{{>navbar}}
