{{> header }}
<section>
  <ol>
    <li>
      Are there any significant life events that you feel may have contributed to your current difficulties? (eg bereavement, family break ups, trauma, bullying, criminal activity)
      <input type="text" name="life-events" value="Please write your answer here" aria-label="significant life events that you feel may have contributed to your current difficulties">

    </li>
  </ol>
</section>
<a href='/send'><button type="button" name="button" value="OK">OK</button></a>
