{{> header }}

<h2 class=colourHeader>Choose your colours!</h2>

<ul id="switcher" class="switcher">
  <div>
<div class="red yellowRed dib margin-0-auto br0 w3 mt3 h3 ba b--black-30"></div> <div class=" yellow yellowRed dib margin-0-auto br0 w3 mt3 h3 ba b--black-30"></div><img class=" yellowRed dib margin-0-auto br0 w3 mt3 h3 ba b--black-30" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-check-mark-8.png&r=51&g=51&b=51" alt="">
</div>
<div class="">
  <div class="darkBlue blueGreen dib margin-0-auto br0 w3 mt3 h3 ba b--black-30"></div> <div class="darkGreen blueGreen dib margin-0-auto br0 w3 mt3 h3 ba b--black-30"></div><img class=" blueGreen dib margin-0-auto br0 w3 mt3 h3 ba b--black-30" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-check-mark-8.png&r=51&g=51&b=51" alt="">
</div>
<div class="">
  <div class="turquoise turquoisePurple dib margin-0-auto br0 w3 mt3 h3 ba b--black-30"></div> <div class="purple turquoisePurple dib margin-0-auto br0 w3 mt3 h3 ba b--black-30"></div><img class=" turquoisePurple dib margin-0-auto br0 w3 mt3 h3 ba b--black-30" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-check-mark-8.png&r=51&g=51&b=51" alt="">
</div>
<div class="">
  <div class="orangeYellow yellowOrange dib margin-0-auto br0 w3 mt3 h3 ba b--black-30"></div> <div class="orangePink yellowOrange dib margin-0-auto br0 w3 mt3 h3 ba b--black-30"></div><img class="yellowOrange dib margin-0-auto br0 w3 mt3 h3 ba b--black-30" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-check-mark-8.png&r=51&g=51&b=51" alt="">
</div>
<div class="">
  <div class="pink pinkBlue dib margin-0-auto br0 w3 mt3 h3 ba b--black-30"></div> <div class="blue pinkBlue dib margin-0-auto br0 w3 mt3 h3 ba b--black-30"></div><img class=" pinkBlue dib margin-0-auto br0 w3 mt3 h3 ba b--black-30" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-check-mark-8.png&r=51&g=51&b=51" alt="">
</div>
</ul>
