{{> header }}

<p class="tc grey-font pa3">You can personalise your experience by choosing your colour scheme :)</p>

<div class="color-themes">
  <button class="color-themes--selector js-yellow-red db center">
    <div class="yellow dib w3 mt3 h3"></div> <div class="red dib br0 w3 mt3 h3"></div><img class="dib  w3 mt3 h3 ml2" src="/img/unticked-circle.png" alt="tickbox">
  </button>
  <button class="color-themes--selector js-blue-green db center">
    <div class="darkBlue dib br0 w3 mt3 h3"></div> <div class="darkGreen dib br0 w3 mt3 h3"></div><img class="dib  w3 mt3 h3 ml2" src="/img/unticked-circle.png" alt="tickbox">
  </button>
  <button class="js-green-purple db color-themes--selector center">
    <div class="turquoise dib br0 w3 mt3 h3"></div> <div class="purple dib br0 w3 mt3 h3"></div><img class="dib  w3 mt3 h3 ml2" src="/img/unticked-circle.png" alt="tickbox">
  </button>
  <button class="js-orange-yellow db color-themes--selector center">
    <div class="orangeYellow dib br0 w3 mt3 h3"></div> <div class="yellow dib br0 w3 mt3 h3"></div><img class="dib  w3 mt3 h3 ml2" src="/img/unticked-circle.png" alt="tickbox">
  </button>
  <button class="js-pink-blue db color-themes--selector center">
    <div class="pink dib br0 w3 mt3 h3"></div> <div class="blue dib br0 w3 mt3 h3"></div><img class="dib  w3 mt3 h3 ml2" src="/img/unticked-circle.png" alt="tickbox">
  </button>
</div>
<a href="/home">Go back</a>
<script src='/change_colour.js'></script>
