
<div class="z-9999 pa3 f2 tracked tc relative">
{{>logout}}
</div>
<div class="background-image cover aspect-ratio--object">
  <div class="main-background-overlay cover aspect-ratio--object">
    <div class="finish-page-image h-50 bg-center" alt="">
    </div>
    <section class="tc">
      <h2 class="white tracked dib tl f2 pa4">Your information was successfully sent</h2>
    </section>
</div>
{{>footer}}
