
{{> header }}
<a href="/progress"><button type="button" name="edit" aria-label="edit your form">Edit your form</button></a>
<a href="/send"><button type="button" name="send" aria-label="send your form">Send your form</button></a>
<a href="/colour_scheme"><button type="button" name="colour_scheme" aria-label="edit colour scheme">Change colours!</button></a>
