{{> header }}
<div class="background-image cover aspect-ratio--object">
 <div class="background-overlay cover aspect-ratio--object">
   <section class="pt5">

     <a class="no-underline" href="/progress"><button class="margin-0-auto flex flex-wrap justify-center grey-font bn bg-white-60 vh-25 w-75 br3 mt4 mw6 mb3 grow" type="button" name="edit" aria-label="edit your form">
       <div class="tc mb5">
         <h3 class="tracked">
           Edit your form
         </h3>
         <img src="/img/pencil.png" alt="edit icon" class="contain h3 w3 dib pa2">
       </div>
     </button></a>

     <a class="no-underline" href="/send"><button class="margin-0-auto flex flex-wrap justify-center grey-font bn bg-white-60 vh-25 w-75 br3 mw6 mb3 grow" type="button" name="send" aria-label="send your form">
       <div class="tc">
         <h3 class="tracked">
           Send your from
         </h3>
         <img src="/img/paper-plane.png" alt="paper plane icon" class="contain h3 w3 dib pa2">
       </div>
     </button></a>

     <a class="no-underline" href="/colour_scheme"><button class="margin-0-auto flex flex-wrap justify-center grey-font bn bg-white-60 vh-25 w-75 br3 mw6 mb3 grow" type="button" name="colour_scheme" aria-label="edit colour scheme">
       <div class="tc">
           <h3 class="tracked">
           Change colours!
         </h3>
         <img src="/img/paintbrush.png" alt="palette icon" class="contain h3 w3 dib pa2">
       </div>
     </button></a>

   </section>
 </div>
</div>
