{{> header }}
<h2> Hey! Nice to meet you </h2>
<article class="">
<p>This app gives you the chance to write your own introduction to your new Adult Mental Health worker.
You don’t have to answer every question if you feel uncomfortable doing so and you can give as much or as little information as you like. If you would like to skip a question press the forward arrow at anytime. The tick will save your answer!
It may be helpful to get family or friends views to help you complete some answers.</p>
</article>
