<div class="ofy-hid">
<div class="background-image cover aspect-ratio--object">
  <div class="main-background-overlay cover aspect-ratio--object ">

    <header class="f1 mb5 tc tracked mt4"> ALL ABOUT ME </header>

    <section class="center mw6">
      <form action="/login" method="POST">
         {{> messages }}
        <input class="darkgray bg-white-40 w-100 h3 pa1 bn mb3 pl2" id="email" aria-label="email" type="email" placeholder="Email" name="email"{{#if userData}}value={{userData.email}}{{/if}} required>
        <input class="darkgray bg-white-40 w-100 h3 pa1 bn mb3 pl2" id="password" aria-label="password" name="password" type="password" placeholder="Password" required>
       <a href="/home"><button class="secondary-background--overlay w-100 h3 pa1 bn mb2" type="submit" name="submit"> Login </button></a>
      </form>
    </section>
    <p class="tc"> Don't have an account? <a href="/signup">Sign up!</a></p>
    <p class="tc"><a href="/forgot">Forgotten your password?</a></p>
  </div>
</div>
</div>
