{{> header }}
{{> messages }}


<section>
<form class="" action="/login" method="POST">
<input id="email" type="email" placeholder="email" name="email"{{#if userData}}value={{userData.email}}{{/if}} required>
<input id="password" name="password" type="password" placeholder="password" value="password" required>
<button type="submit" name="submit"> Submit </button>
</form>
</section>
<p> Don't have an account? <a href="/signup">Sign up!</a>
