
{{> header }}
<section class="mw7 center w-90">
<article class="w-100 mw7 center bt bb b--black-10 pb4 pt4">
  <div class="flex justify-between flex-wrap items-center w-80 margin-0-auto">
    <div class="pl4 pr4">
      <h3>Appointments</h3>
      <h4 class="fw2 black-60">Takes 5 minutes</h4>
    </div>
    <div class="pr4 pl4">
      <a href='/appointments'><button class="bn white solid-purple-background  br3 tracked fw3 h-auto-ns pa2 pl3 pr3 w-auto grow f4 shadow-5-ns" type="button" name="button" aria-label="edit your appointments">EDIT</button></a>
    </div>
  </div>
</article>


<article class="w-100 mw7 center bb b--black-10 pb4 pt4">
  <div class="flex justify-between flex-wrap items-center w-80 margin-0-auto">
    <div class="pl4 pr4 ">
      <h3>Symptoms & Difficulties</h3>
      <h4 class="fw2 black-60">Takes 10 minutes</h4>
    </div>
    <div class="pr4 pl4">
      <a href='/symptoms'><button class="bn white solid-purple-background br3 tracked fw3 h-auto-ns pa2 pl3 pr3 w-auto grow f4 shadow-5-ns" type="button" name="button" aria-label="edit your symptoms and difficulties">EDIT</button></a>
    </div>
  </div>
</article>


<article class="w-100 mw7 center bb b--black-10 pb4 pt4">
  <div class="flex justify-between flex-wrap items-center w-80 margin-0-auto">
    <div class="pl4 pr4">
      <h3>About Me</h3>
      <h4 class="fw2 black-60">Takes 10 minutes</h4>
    </div>
    <div class="pr4 pl4">
      <a href='/about'><button class="bn white solid-purple-background  br3 tracked fw3 h-auto-ns pa2 pl3 pr3 w-auto grow f4 shadow-5-ns" type="button" name="button" aria-label="edit the about me questions">EDIT</button></a>
    </div>
  </div>
</article>

<article class="w-100 mw7 center bb b--black-10 pb4 pt4">
  <div class="flex justify-between flex-wrap items-center w-80 margin-0-auto">
    <div class="pl4 pr4">
      <h3>Your Background</h3>
      <h4 class="fw2 black-60">Takes 10 minutes</h4>
    </div>
    <div class="pr4 pl4">
      <a href='/background'><button class="bn white solid-purple-background  br3 tracked fw3 h-auto-ns pa2 pl3 pr3 w-auto grow f4 shadow-5-ns" type="button" name="button" aria-label="edit your background">EDIT</button></a>
    </div>
  </div>
</article>

<div class="tc">
  <a href='/send' class="mw7 center"><button class="dib grow solid-green-background bn tc white tracked br3 pa3 pl5 pr5 mb4 shadow-5-ns mt4"  type="button" name="button" aria-label="send the form">SEND FORM</button></a>

</div>

</section>
<br>
<br>
<br>
<br>
<br>
{{>footer}}
