{{> header }}

<section>
<h3>Appointments</h3>
<h4>Takes 5 minutes</h4>
<a href='/appointments'><button type="button" name="button" aria-label="edit your appointments">Edit</button></a>

</section>
<section>
<h3>Symptoms & Difficulties</h3>
<h4>Takes 10 minutes</h4>
<a href='/symptoms'><button type="button" name="button" aria-label="edit your symptoms and difficulties">Edit</button></a>
</section>
<section>
<h3>About Me</h3>
<h4>Takes 10 minutes</h4>
<a href='/about'><button type="button" name="button" aria-label="edit the about me section">Edit</button></a>
</section>
<section>
<h3>Your Background</h3>
<h4>Takes 10 minutes</h4>
<a href='/background'><button type="button" name="button" aria-label="edit your background">Edit</button></a>
</section>
<a href='/send'><button type="button" name="button" aria-label="send the form">Send</button></a>
