
<div class="background-image cover aspect-ratio--object">
  <div class="background-overlay cover aspect-ratio--object">
    <section class="send-page-container">
      <div class="tc">
        <p class=" white ma4 pt2 pb2 f2 tl dib">Thank you for completing your profile. <br> We really hope this will make your transition easier</p>
      </div>
        <a class="no-underline" href="/progress"><button class="white bg-white-40 w-90 h3 pa1 bn mb2 mw6 db center tracked grow" type="button" name="continue editing" aria-label="continue editing">CONTINUE EDITING</button></a>
        <a class="no-underline" href="/finish"><button class="white purple-background w-90 h3 pa1 bn mb2 mw6 db center tracked grow" type="button" name="send the information" aria-label="send the information">SEND</button></a>
    </section>
  </div>
</div>
