{{> header }}
{{> progress_bar }}


<h2>Thank you for completing your profile. We really hope this will make your transition easier</h2>
<a href="/progress"><button type="button" name="continue editing" aria-label="continue editing">Continue editing</button></a>
<a href="/finish"><button type="button" name="send the information" aria-label="send the information">Send</button></a>
