
<div class="background-image cover aspect-ratio--object">
  <div class="background-overlay cover aspect-ratio--object">

    <section class="send-page-container">

      <div class="tc">

        <p class="test white ma4 pt2 pb2 f3 tl dib">Thank you for completing your profile. <br> We really hope this will make your transition easier</p>

      </div>
        <a class="no-underline" href="/progress"><button class="white bg-white-40 w-90 h3 pa1 bn mb2 mw6 db center tracked grow" type="button" name="continue editing" aria-label="continue editing">CONTINUE EDITING</button></a>
        <form class="" action="/finish" method="post">
          <div class="tc">
            <p class="test white mt4 ml4 mr4 mb1 pt2 pb2 f5 tl dib">Where should we send your form?</p>
          </div>
          <input class="dark-gray bg-white-40 w-90 h3 pa1 bn mb2 mw6 db center tracked pl3" type="text" name="email" aria-label="please write your clinician's email" id="emailAddress" placeholder="Please enter email"></input>
          <div class="tc">
            <p class="test white mt4 ml4 mr4 mb1 pt2 pb2 f5 tl dib">Would you like a copy sent to your own email address?</p>
          <input class="mr2" type="checkbox" name="sendemailcopy" aria-label="checkbox">
          </input>
        </div>
          <span class="no-underline" href="/finish"><input class="white purple-background w-90 h3 pa1 bn mb2 mw6 db center tracked grow" type="submit" name="send the information" aria-label="send the information" value="SEND"></input></span>
        </form>
      </section>
      {{> messages}}
  </div>
</div>
