{{> messages }}

<div class="background-image cover aspect-ratio--object">
  <div class="background-overlay cover aspect-ratio--object ">
    <section class="white">
      <header class="tracked f1 tc pa3"> Create Account</header>
      <form class="" action="/signup" method="POST">
        <br>
        <input class="white bg-white-40 w-100 h3 pa1 bn mb2 mw6 db pl2 center" id="email" type="text" placeholder="name" name="name" {{#if userData}} value="{{userData.name}}" {{/if}} required>
        <input class="white bg-white-40 w-100 h3 pa1 bn mb2 mw6 db pl2 center" id="email" type="email" placeholder="email" name="email" {{#if userData}} value="{{userData.email}}" {{/if}} required>
        <input class="white bg-white-40 w-100 h3 pa1 bn mb2 mw6 db pl2 center" id="password" name="password" type="password" placeholder="password" required>
        <input class="white bg-white-40 w-100 h3 pa1 bn mb2 mw6 db pl2 center" id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password"  required>
        <a href="/home"><button class="white purple-background w-100 h3 pa1 bn mb2 mw6 db center" type="submit" name="submit"> Submit </button>
      </form>
        <p class="white tc"> Already have an account? <a class="no-underline" href="/">Login!</a>
    </section>
  </div>
</div>
