{{> header }}
{{> messages }}


<section>
  <form class="" action="/signup" method="POST">
    <input id="name" type="name" placeholder="name" name="name" {{#if userData}}value="{{userData.name}}"{{/if}} required>
    <input id="email"  type="email" placeholder="email" name="email" {{#if userData}}value="{{userData.email}}"{{/if}} required>
    <input id="password" name="password" type="password" placeholder="password" value="password" required>
    <input id="confirmPassword" name="confirmPassword" type="password" placeholder="confirmPassword" value="confirmPassword" required>
    <button type="submit" name="submit"> Submit </button>
  </form>
</section>
