{{> header }}

<section>
  <form class="" action="/sign-up" method="post">
    <input id="name" name="name" type="name" placeholder="name" value="name" required>
    <input id="email" name="email" type="email" placeholder="email" value="email" required>
    <input id="password" name="password" type="password" placeholder="password" value="password" required>
    <input id="confirmPassword" name="confirmPassword" type="password" placeholder="confirmPassword" value="confirmPassword" required>
    <button type="submit" name="submit"> Submit </button>
  </form>
</section>
