{{> header }}
<div class="background-image cover aspect-ratio--object">
  <div class="main-background-overlay cover aspect-ratio--object ">
    <section class="center mw6 mt6">
      <form action="/signup" method="POST">
      {{> messages }}
        <input class="darkgray bg-white-40 w-100 h3 pa1 bn mb2 pl2" id="name" type="text" placeholder="Name" name="name" {{#if userData}} value="{{userData.name}}" {{/if}} required>
        <input class="darkgray bg-white-40 w-100 h3 pa1 bn mb2 pl2" id="email" type="email" placeholder="Email" name="email" {{#if userData}} value="{{userData.email}}" {{/if}} required>
        <input class="darkgray bg-white-40 w-100 h3 pa1 bn mb2 pl2" id="password" name="password" type="password" placeholder="Password" required>
        <input class="darkgray bg-white-40 w-100 h3 pa1 bn mb2 pl2" id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password"  required>
        <a class="no-underline" href="/home"><button class="secondary-background--overlay w-100 h3 pa1 bn mb2 mw6 db" type="submit" name="submit"> Submit </button></a>
      </form>
        <p class="tc"> Already have an account? <a href="/">Login!</a></p>
    </section>
  </div>
</div>
