{{> header }}

<section>
  <form>
  <ol>
    <li>
      Do you have a mental health diagnosis and if so what is it?
      Depression <input type="checkbox" name="depression" value="depression" aria-label="do you suffer from depression?">
      Bipolar <input type="checkbox" name="Bipolar" value="Bipolar" aria-label="Do you suffer from Bipolar disorder?">
      Anorexia <input type="checkbox" name="Anorexia" value="Anorexia" aria-label="do you suffer from anorexia?">
      Anxiety Disorder <input type="checkbox" name="Anxiety Disorde" value="Anxiety Disorder" aria-label="do you suffer from anxiety disorder?">
      Fatigue <input type="checkbox" name="Fatigue" value="Fatigue" aria-label="do you suffer from fatigue?">
      Schizophrenia <input type="checkbox" name="Schizophrenia" value="Schizophrenia" aria-label="do you suffer from schizophrenia?">
      Other <input type="text" name="Other" value="Please State" aria-label="do you suffer from any other disorder?">
    </li>
    <li>
      Do you agree with your diagnosis?
      yes <input type="radio" name="agree" value="yes" aria-label='yes'>
      no <input type="radio" name="agree" value="no" aria-label='no'>
    </li>
    <li>
      Current mediation (if any)
      <input type="text" name="medication" value="Current medication" aria-label='list your current medication'>
    </li>
    <li>
      What therapies have you used?
      Talking Therapies <input type="checkbox" name="talking therapies" value="talking therapies" aria-label='talking therapies'>
      Cognative Behavioural Therapies<input type="checkbox" name="Cognative Behavioural Therapies" value="Cognative Behavioural Therapies" aria-label='Cognative Behavioural Therapies'>
      Creative Therapy <input type="checkbox" name="Creative Therapy" value="Creative Therapy" aria-label='Creative Therapy'>
      Phsychotherapy <input type="checkbox" name="Phsychotherapy" value="Phsychotherapy" aria-label='Phsychotherapy'>
      Other <input type="text" name="other therapies" value="Other therapies" aria-label='Other therapies tried'>
    </li>
    <li>
      Did you find this helpful?
      Yes <input type="radio" name="helpful" value="Yes" aria-label='yes'>
      No<input type="radio" name="helpful" value="No" aria-label='no'>
    </li>
    <li>
      Why?
      <input type="text" name="why" value="Why" aria-label='Please write your answer here'>
    </li>
    <li>
      What helps to keep you well? (e.g friends, support from family?)
      <input type="text" name="keeping well" value="Please write your answer here" aria-label='Please write your answer here'>
    </li>
  </ol>
  <a href='/about'><button type="button" name="butto" value="OK">OK</button></a>
</form>
</section>
