<canvas id="c" width="500" height="500" style="border:1px solid #aaa"></canvas>

<div style="display: inline-block; margin-left: 10px">
    <button id="drawing-mode" class="btn btn-info bn bg-transparent w3 h3 pointer"><img src="/padlock-locked.png"></button><br>
  <button id="clear-canvas" class="btn btn-info bn bg-transparent w3 h3 pointer"><img src="/x-icon.png"></button><br>

  <div id="drawing-mode-options">
      <input type="radio" name="brush-options" value="Pencil" id="brush-options__pencil">
      <label for="brush-options__pencil">Pencil</label>
      <input type="radio" name="brush-options" value="Spray" id="brush-options__spray">
      <label for="brush-options__spray">Spray</label>
      <input type="radio" name="brush-options" value="Pattern" id="brush-options__pattern">
      <label for="brush-options__pattern">Pattern</label>
      <br>

    <label for="drawing-line-width">Line width:</label>
    <span class="info">30</span><input type="range" value="30" min="0" max="150" id="drawing-line-width"><br>

    <label for="drawing-color">Line color:</label>
    <input type="color" value="#005E7A" id="drawing-color"><br>
  </div>
</div>
