<canvas id="c" width="500" height="500" style="border:1px solid #aaa"></canvas>

<div style="display: inline-block; margin-left: 10px">
    <button id="save-canvas" class="btn btn-info bn bg-transparent w3 h3 pointer" data-user-id="{{userId}}">Save</button><br>
    <button id="drawing-mode" class="btn btn-info bn bg-transparent w3 h3 pointer"><img src="/padlock-locked.png"></button><br>
    <button id="clear-canvas" class="btn btn-info bn bg-transparent w3 h3 pointer">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 3.752l-4.423-3.752-7.771 9.039-7.647-9.008-4.159 4.278c2.285 2.885 5.284 5.903 8.362 8.708l-8.165 9.447 1.343 1.487c1.978-1.335 5.981-4.373 10.205-7.958 4.304 3.67 8.306 6.663 10.229 8.006l1.449-1.278-8.254-9.724c3.287-2.973 6.584-6.354 8.831-9.245z"/></svg>
        Clear
    </button><br>

  <div id="drawing-mode-options">
      <label for="brush-options__pencil"><input class="h2 hidden" type="radio" name="brush-options" value="Pencil" id="brush-options__pencil"><img src="/solid-brush.png">Pencil</label>
      <label for="brush-options__spray"><input class="h2 hidden" type="radio" name="brush-options" value="Spray" id="brush-options__spray"><img src="/spray.png">Spray</label>
      <label for="brush-options__pattern"><input class="h2 hidden" type="radio" name="brush-options" value="Pattern" id="brush-options__pattern"><img src="pattern.png">Pattern</label>
      <br>

    <label for="drawing-line-width">Line width:</label>
    <span class="info">30</span><input type="range" value="30" min="0" max="150" id="drawing-line-width"><br>

    <label for="drawing-color">Line color:</label>
    <input type="color" value="#005E7A" id="drawing-color"><br>
  </div>
</div>
