<canvas id="c" width="500" height="500" style="border:1px solid #aaa"></canvas>

<div style="display: inline-block; margin-left: 10px">
  <button id="drawing-mode" class="btn btn-info">Cancel drawing mode</button><br>
  <button id="clear-canvas" class="btn btn-info">Clear</button><br>

  <div id="drawing-mode-options">
    <label for="drawing-mode-selector">Mode:</label>
      <input type="radio" name="brush-options" value="Pencil">Pencil</input>
      <input type="radio" name="brush-options" value="Spray">Spray</input>
      <input type="radio" name="brush-options" value="Pattern">Pattern</input>
      <br>

    <label for="drawing-line-width">Line width:</label>
    <span class="info">30</span><input type="range" value="30" min="0" max="150" id="drawing-line-width"><br>

    <label for="drawing-color">Line color:</label>
    <input type="color" value="#005E7A" id="drawing-color"><br>
  </div>
</div>
