<nav class="pb3 pt2 bottom navbar bottom-0 left-0 fixed w-100 bg-white">
  <footer class="navbar list flex justify-around pt3 bt b--black-20">
    <div><a href=/home><img class="grow mw3" title="Home" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-home-8.png&r=51&g=51&b=51" alt="home"></a></div>
    <div><a href=/progress><img class="grow mw3" title="Edit" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-pencil-9.png&r=51&g=51&b=51" alt="edit"></a></div>
    <div><a href=/send><img class="grow mw3" title="Send" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2013/png/iconmonstr-paper-plane-8.png&r=51&g=51&b=51" alt="send" ></a></div>
    <div><a href=/colour_scheme><img class="grow mw3" title="Choose Colours" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2014/png/iconmonstr-paintbrush-7.png&r=51&g=51&b=51" alt="choose colours"  ></a></div>

  </footer>
</nav>
