<div class="mb6 justify-around flex items-center">
    <button class="bn bg-white flex items-center grey-font pointer" name="button" value="previous">
        <img class="fl" src="https://files.gitter.im/foundersandcoders/AllAboutMe/hAmU/image.png" alt="progress icon">
        <span class="dn db-ns">Previous</span>
    </a>
    <button class='pointer f3 pa2 bn solid-purple-background white br3 pointer' name="button" value="save" type="submit" >Save</button>
    <button class="bg-white bn flex items-center grey-font pointer" name="button" value="next" formaction="/about">
        <span class="dn db-ns">Save &amp;
            <br>continue</span>
        <img class="fr" src="https://files.gitter.im/foundersandcoders/AllAboutMe/AMao/image.png" alt="progress icon"  class="nextButton">
    </a>
</div>
