<div class="mb6 justify-around flex items-center">
    <button class="bn bg-white flex items-center grey-font {{#if firstPage}}light-silver{{/if}}{{#unless firstPage}}pointer grow{{/unless}}" name="button" value="previous" {{#if firstPage}}disabled{{/if}}>
        <img class="fl" src="/img/left-arrow.png" alt="left arrow">
        <span class="dn db-ns">Previous</span>
    </a>
    <button class='pointer f3 pa2 bn secondary-background--solid white br3 pointer grow shadow-5-ns' name="button" value="save" type="submit" >Save</button>
    <button class="bg-white bn flex items-center grey-font pointer grow" name="button" value="next">
        <span class="dn db-ns">Save &amp;
            <br>continue</span>
        <img class="fr" src="/img/right-arrow.png" alt="right arrow">
    </a>
</div>
