<div class="tc hide-button">
  <button class='bn secondary-background--solid h2 w2 white br3' type="button" name="arrowbutton" class="arrowbutton">
  <img id = "upbutton" class="w1 db center" src="/img/uparrow.png" alt="uparrow">
  <img id = "downbutton" class=" w1 db center clip" src="/img/downarrow.png" alt="downarrow">
  </button>
</div>
