<form class="absolute top-0 right-1" method="post" action="/logout">
    <button class="pa1 bn bg-transparent w3-ns w2" type="submit" value="logout"> 
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="icon" d="M8 10v-5l8 7-8 7v-5h-8v-4h8zm2-8v2h12v16h-12v2h14v-20h-14z"/></svg>
    </button>
</form>
