<div class="absolute right-2 top-1 w-200 h3 db mw2 f5 ">
<form method="post" action="/logout">
<button class="relative pa1 mb3 bn bg-transparent" type="submit" value="logout"><img class="center mw2" title="Logout" src="/img/logout.png" alt="Logout"> </button>
</form>
</div>
