<div class="fixed right-2 top-1 pa1 w-100 h3 db mw2 f4 ">
<form method="post" action="/logout">
<button class="fr mb2 bn white purple-background" type="submit" value="logout"> Logout </button></a>
</form>
</div>
