<div class="absolute right-2 top-1 w-200 h3 db mw2 f5 ">
<form method="post" action="/logout">
<button class="relative pa1 mb3 bn white header-background-colour" type="submit" value="logout"> <img class="center mw2" title="Logout" src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2017/png/iconmonstr-log-out-15.png&r=0&g=0&b=0" alt="Logout"> </button></a>
</form>
</div>
