<section class="iconsContainer" id="modal" style="display:none">
  <span class="close">&times;</span>
  <ul class="listIcons">
    <li class="figure"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2014/png/iconmonstr-paintbrush-7.png&r=51&g=51&b=51" alt="" class="drawing dib margin-0-auto grey-background br3 w3 mt3 h3 ba b--black-30"><br>Drawing</br></li>
    <li class="figure"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-globe-5.png&r=51&g=51&b=51" alt="" class="travelling dib margin-0-auto grey-background br3 w3 mt3 h3 ba b--black-30"><br>Travelling</br></li>
      <li class="figure"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2013/png/iconmonstr-trophy-6.png&r=51&g=51&b=51" alt="" class="sports dib margin-0-auto grey-background br3 w3 mt3 h3 ba b--black-30"><br>Sports</br></li>
  </ul>
  <ul class="listIcons">
    <li class="figure"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-book-20.png&r=51&g=51&b=51" alt="" class="reading dib margin-0-auto grey-background br3 w3 mt3 h3 ba b--black-30"><br>Reading</br></li>
    <li class="figure"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2017/png/iconmonstr-candy-18.png&r=51&g=51&b=51" alt="" class="cakes dib margin-0-auto grey-background br3 w3 mt3 h3 ba b--black-30"><br>Cakes</br></li>
    <li class="figure"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-microphone-7.png&r=51&g=51&b=51" alt="" class="singing dib margin-0-auto grey-background br3 w3 mt3 h3 ba b--black-30"><br>Singing</br></li>
  </ul>
  <ul class="listIcons">
    <li class="figure"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2014/png/iconmonstr-disc-5.png&r=51&g=51&b=51" alt="" class="music dib margin-0-auto grey-background br3 w3 mt3 h3 ba b--black-30"><br>Music</br></li>
    <li class="figure"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2014/png/iconmonstr-gamepad-9.png&r=51&g=51&b=51" alt="" class="videogames dib margin-0-auto grey-background br3 w3 mt3 h3 ba b--black-30"><br>Videogames</br></li>
    <li class="figure"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-user-30.png&r=51&g=51&b=51" alt="" class="family dib margin-0-auto grey-background br3 w3 mt3 h3 ba b--black-30"><br>Friends&Family</br></li>
  </ul>
  <ul class="listIcons">
    <li class="figure"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2017/png/iconmonstr-umbrella-15.png&r=51&g=51&b=51" alt="" class="rain dib margin-0-auto grey-background br3 w3 mt3 h3 ba b--black-30"><br>Rain</br></li>
    <li class="figure"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2017/png/iconmonstr-fast-food-1.png&r=51&g=51&b=51" alt="" class="food dib margin-0-auto grey-background br3 w3 mt3 h3 ba b--black-30"><br>Food</br></li>
    <li class="figure"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2013/png/iconmonstr-television-21.png&r=51&g=51&b=51" alt="" class="tv dib margin-0-auto grey-background br3 w3 mt3 h3 ba b--black-30"><br>TV</br></li>
  </ul>
</section>
