<section class="fixed flex justify-center w-100 h-100 left-0 top-0 background-overlay z-max pa4" id="modal" style="display:none">
  <div class="bg-white w-100 h-80 flex justify-around br3 mw7 overflow-scroll">
    <span class="close">

  </span>
    <div class="listIcons ma4 flex flex-wrap justify-between">
      <div class="w-20 mw4 tc black-60 tracked ma3 h-auto-ns
"><img class="pb3 center mw3" src="/modal/paintbrush.png" alt="drawing image"><br>Art
      </div>
      <div class="w-20 mw4 tc black-60 tracked ma3 h-auto-ns
"><img class="pb3 center mw3" src="/modal/globe.png" alt="travelling image"><br>Travel
      </div>
      <div class="w-20 mw4 tc black-60 tracked ma3 h-auto-ns
"><img class="pb3 center mw3" src="/modal/trophy.png" alt="sports image"><br>Sports
      </div>
      <div class="w-20 mw4 tc black-60 tracked ma3 h-auto-ns
" ><img class="pb3 center mw3" src="/modal/reading.png" alt="reading image"><br>Books
      </div>
      <div class="w-20 mw4 tc black-60 tracked ma3 h-auto-ns
"><img class="pb3 center mw3" src="/modal/birthday-cake.png" alt="Birthdays"><br>Party
      </div>
      <div class="w-20 mw4 tc black-60 tracked ma3 h-auto-ns
"><img class="pb3 center mw3" src="/modal/mic.png" alt="Singing"><br>Music
      </div>
      <div class="w-20 mw4 tc black-60 tracked ma3 h-auto-ns
"><img class="pb3 center mw3" src="/modal/music.png" alt="Music"><br >Music
      </div>
      <div class="w-20 mw4 tc black-60 tracked ma3 h-auto-ns
"><img class="pb3 center mw3" src="/modal/videogame-controller.png" alt="Video Games"><br>Games
      </div>
      <div class="w-20 mw4 tc black-60 tracked ma3 h-auto-ns
"><img class="pb3 center mw3" src="/modal/people.png" alt="Friends and Family"><br>Family
      </div>
      <div class="w-20 mw4 tc black-60 tracked ma3 h-auto-ns
"><img class="pb3 center mw3" src="/modal/umbrella.png" alt="Rain" ><br>Rain
      </div>
      <div class="w-20 mw4 tc black-60 tracked ma3 h-auto-ns
"><img class="pb3 center mw3" src="/modal/burger.png" alt="Food"><br>Food
      </div>
      <div class="w-20 mw4 tc black-60 tracked ma3 h-auto-ns
"><img class="pb3 center mw3" src="/modal/tv.png" alt="TV" ><br>TV
      </div>
    </div>
  </div>
</section>
