<nav class="pb3 pt3 bottom navbar bottom-0 left-0 fixed w-100 bg-white bt b--black-20">
  <footer class="navbar list flex justify-around">
    <div><a href=/home><img class="grow mw3" title="Home" src="/img/home.png" alt="home"></a></div>
    <div><a href=/progress><img class="grow mw3" title="Edit" src="/img/pencil.png" alt="edit"></a></div>
    <div><a href=/send><img class="grow mw3" title="Send" src="/img/paper-plane.png" alt="send" ></a></div>
    <div><a href=/colour_scheme><img class="grow mw3" title="Choose Colours" src="/img/paintbrush.png" alt="choose colours"  ></a></div>

  </footer>
</nav>
