<nav class="bottom navbar bottom-0 left-0 fixed w-100 mt5 bg-white">
  <footer class="navbar list flex justify-around pt3 bt b--black-20">
    <div class=""><a href={{previousPage}}><img src="https://files.gitter.im/foundersandcoders/AllAboutMe/hAmU/image.png" alt="progress icon"></img></a></div>
    <div class=""><a href=/progress><img src="https://files.gitter.im/foundersandcoders/AllAboutMe/UUxu/image.png" alt="progress icon"></img></a></div>
    <div class=""><a href={{nextPage}}><img src="https://files.gitter.im/foundersandcoders/AllAboutMe/AMao/image.png" alt="progress icon"></img></a></div>
  </footer>

</nav>
