<nav class="bottom navbar">
  <ul class="navbar list">
    <li class=""><a href={{previousPage}}><img src="https://files.gitter.im/foundersandcoders/AllAboutMe/hAmU/image.png" alt="progress icon"></img></a></li>
    <li class=""><a href=/progress><img src="https://files.gitter.im/foundersandcoders/AllAboutMe/UUxu/image.png" alt="progress icon"></img></a></li>
    <li class=""><a href={{nextPage}}><img src="https://files.gitter.im/foundersandcoders/AllAboutMe/AMao/image.png" alt="progress icon"></img></a></li>
  </ul>

</nav>
