<div class="mt4 tc f5 black-60 tracked">
  Your progress: {{progressPercentage}}%
  <div class="mt2 br3 w-75 mw6 center secondary-background--light-overlay" id="myProgress">
    <div class="left-side-radius progressBar secondary-background--solid w-{{progressPercentage}} h1" id="myBar">
    </div>
  </div>
</div>
