<!DOCTYPE html>
<html>
{{>htmlHeader}}

<body class="green-purple">
  {{{body}}}
</body>
<script src='/change_colour.js'></script>
<script src='/fabric.js'></script>
<script src='/draw.js'></script>
</html>

